body {
  font-family: 'Source Sans Pro', 'Trebuchet MS', 'Lucida Grande',
    'Bitstream Vera Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  text-align: center;
  color: white;
  background: #161e26;
}

#root {
  /* max-width: 400px; */
  margin: 0 auto;
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  margin: 0 auto;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

body {
  margin: 0;
  background: #131212;
}

.card {
  background: #191818;
}

.card > .post-hint {
  top: 5px;
  z-index: 1;
  right: 5px;
  position: absolute;
  background: red;
  padding: 2px;
  font-size: 8px;
}

.cards-container {
  margin-top: 60px;
  margin-bottom: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 5px;
}

.short-animate {
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -ms-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.long-animate {
  -webkit-transition: 0.5s 0.5s ease-in-out;
  -moz-transition: 0.5s 0.5s ease-in-out;
  -ms-transition: 0.5s 0.5s ease-in-out;
  -o-transition: 0.5s 0.5s ease-in-out;
  transition: 0.5s 0.5s ease-in-out;
}

.lightbox {
  position: fixed;
  top: -100%;
  bottom: 100%;
  left: 0;
  right: 0;
  background: rgba(52, 58, 64, 0.8);
  z-index: 1031;
  opacity: 0;
}

.lightbox img {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  max-width: 0%;
  max-height: 0%;
}

#lightbox-controls {
  position: fixed;
  height: 70px;
  width: 70px;
  top: -70px;
  right: 0;
  z-index: 1032;
  background: rgba(0, 0, 0, 0.1);
}

#close-lightbox {
  display: block;
  position: absolute;
  overflow: hidden;
  height: 50px;
  width: 50px;
  text-indent: -5000px;
  right: 10px;
  top: 10px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#close-lightbox:before {
  content: '';
  display: block;
  position: absolute;
  height: 0px;
  width: 3px;
  left: 24px;
  top: 0;
  background: white;
  border-radius: 2px;
  -webkit-transition: 0.5s 0.5s ease-in-out;
  -moz-transition: 0.5s 0.5s ease-in-out;
  -ms-transition: 0.5s 0.5s ease-in-out;
  -o-transition: 0.5s 0.5s ease-in-out;
  transition: 0.5s 0.5s ease-in-out;
}

#close-lightbox:after {
  content: '';
  display: block;
  position: absolute;
  width: 0px;
  height: 3px;
  top: 24px;
  left: 0;
  background: white;
  border-radius: 2px;
  -webkit-transition: 0.5s 1s ease-in-out;
  -moz-transition: 0.5s 1s ease-in-out;
  -ms-transition: 0.5s 1s ease-in-out;
  -o-transition: 0.5s 1s ease-in-out;
  transition: 0.5s 1s ease-in-out;
}

.lightbox:target {
  top: 0%;
  bottom: 0%;
  opacity: 1;
}

.lightbox:target img {
  max-width: 100%;
  max-height: 100%;
}

.lightbox:target ~ #lightbox-controls {
  top: 0px;
}

.lightbox:target ~ #lightbox-controls #close-lightbox:after {
  width: 50px;
}

.lightbox:target ~ #lightbox-controls #close-lightbox:before {
  height: 50px;
}

@-webkit-keyframes wiggle {
  0% {
    -webkit-transform: rotate(2deg);
  }
  20% {
    -webkit-transform: rotate(-2deg);
  }
  40% {
    -webkit-transform: rotate(2deg);
  }
  60% {
    -webkit-transform: rotate(-2deg);
  }
  80% {
    -webkit-transform: rotate(2deg);
  }
  100% {
    -webkit-transform: rotate(-2deg);
  }
}

.links ~ button {
  position: absolute;
  right: 10px;
}

/* Search */
input {
  outline: none;
}

input[type='search'] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  font-family: inherit;
  font-size: 100%;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
  display: none;
}

input[type='search'] {
  width: 15px;
  height: 15px;

  color: transparent;
  cursor: pointer;

  background: #ededed
    url(https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat
    9px center;
  border: solid 1px #ccc;
  padding: 9px 10px 9px 32px;
  padding-left: 10px;

  -webkit-border-radius: 10em;
  -moz-border-radius: 10em;
  border-radius: 10em;

  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}

input[type='search']:hover {
  background-color: #fff;
}

input[type='search']:focus {
  width: 130px;
  background-color: #fff;
  border-color: #66cc75;
  padding-left: 32px;
  color: #000;
  cursor: auto;

  -webkit-box-shadow: 0 0 5px rgba(109, 207, 246, 0.5);
  -moz-box-shadow: 0 0 5px rgba(109, 207, 246, 0.5);
  box-shadow: 0 0 5px rgba(109, 207, 246, 0.5);
}

input:-moz-placeholder {
  color: transparent;
}

input::-webkit-input-placeholder {
  color: transparent;
}

.embedly-embed {
  width: inherit;
}
